* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.977);
    font-family: "Montserrat", sans-serif;
    color: white;
}

p {
    height: 35px;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 30px;
    text-decoration: underline;
}

.player {

    width: 100vw;
    margin: auto;
    font-size: 1.7rem;
    height: 100px;
    margin-top: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 30px;
}

.player>:nth-child(2) {
    font-size: 0.8rem;
    transform: translateX(30px);
}

#playimg {
    width: 20vw;
    position: absolute;
    left: 15vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    
}


#compimg {
    position: absolute;
    right: 16vw;
    margin-top: 30px;
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;

   

}

.box p {

    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    transform: translateX(-10px);

}

#pb {
    position: absolute;
    left: 40vw;
    margin: 70px;
    outline: 0;
    border: 0;
    padding-top: 20px;
    background: transparent;
    color: rgba(255, 255, 255, 0.653);
    font-size: 1.2rem;
    font-weight: lighter;
    text-decoration: underline;
    cursor: pointer;
}

#pb:hover {
    transform: scale(1.1);
    color: white;
    transition: transform 0.1s;
}

#playimg button {
    height: 40px;
    width: 80px;
    color: white;
    background: transparent;
    outline: 0;
    border: 0;
    padding-top: 20px;
    position: relative;
    left: -3vw;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.653);
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;

}

#playimg button:hover {
    transform: scale(1.1);
    color: white;
    transition: transform 0.1s;
    cursor: pointer;
}

footer {
    width: 100vw;
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    padding-top: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.anim {
    transform-origin: left;
    animation: an 0.8s ease-in 0s 1 forwards ;
}

@keyframes an {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }

}



/* <img src="rock.jpeg"  width="200" height="200" alt=""> */